body {
    padding-left: 10%;
    padding-right: 10%;
  }
  
  ul.grid-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    list-style: square inside;
    padding-left: 20px;
  }
  
  .grid-list li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .responsive-image {
    max-width: 100%;
    height: auto;
  }
  
  